<div class="topnav">
   
    <a href="/reg"><button class="w3-button w3-darkgray w3-padding-small w3-large">Reg</button></a>
    
  <div class="login-container">
    <form>
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Password" name="psw">
      <button type="submit">Login</button>
    </form>
    <p></p>
   
  </div>
</div>

<div style="padding-left:16px">

{{!-- <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  </div> --}}

<header class="w3-container w3-2018-coconut-milk w3-center" style="padding:70px 16px">
  <img src = '../imageedit_2_2083503890.png'>

  <h1 class="w3-margin w3-jumbo">Lets Start</h1>
 <a href="/auth/google"> <button class="w3-button w3-red w3-padding-large w3-large w3-margin-top" class="google btn"><i
        class="fa fa-google fa-fw">
      </i> Login with Google+</button> </a>
</header>

</div>

<script src = "../js/login.js"></script>