<div class="w3-col m9">
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h1>Registration</h1>
        <p class="w3-opacity">Type bellow</p>
        <form class="w3-container w3-card w3-padding-32 w3-white" target="_blank">
            <div class="w3-section">
                <label>Name</label>
                <input name="Name" class="w3-input" style="width:100%;" type="text" name="Message">

            </div>
            <div class="w3-section">
                <label>Password</label>
                <input name="password" class="w3-input" style="width:100%;" type="text" name="Message">

            </div>
            <div class="w3-section">
                <label>Avatar</label>
                <input name="avatar" class="w3-input" style="width:100%;" type="text" name="Message">
            </div>
            <button type="submit" class="w3-button w3-teal w3-right">Reg</button>
        </form>
        <br>
    </div>

    <script src = "../js/reg.js"></script>